<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/vendor/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="assets/vendor/metis-menu/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/startmin.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/vendor/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Startmin</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
            </ul>

            <ul class="nav navbar-right navbar-top-links">
                <!--<li class="dropdown navbar-inverse">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--<li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </li>-->
                        <li>
                            <a href="formRegistro.html" target="contenido"><i class="fa fa-edit fa-fw"></i> Registrar Documento</a>
                        </li>
                        <li>
                            <a href="table.html" target="contenido"><i class="fa fa-book fa-fw"></i> Libro de Registro</a>
                        </li>                                                
                                                
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Registro Nuevo</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        
                        <form name="form" ng-submit="save()">
                            <label for="tipoDoc" class="control-label">Tipo Documento<span class="text-danger">*</span></label>
                            <div class="row" >

                                <div class="form-group has-success col-lg-4">
                                    
                                    <select class="form-control" name="tipoDoc" id="tipoDoc" ng-model="registro.tipoDoc">
                                        <option value="INFORME ">INFORME</option>
                                        <option value="OFICIO ">OFICIO</option>
                                        <option value="CARTA ">CARTA</option>
                                        <option value="SOLICITUD ">SOLICITUD</option>
                                        <option value="MEMORANDUMS ">MEMORANDUMS</option>
                                        <option value="OTROS ">OTROS</option>
                                    </select>
                                </div>
                                <div class="form-group has-feedback col-lg-8" ng-class="{'has-error': form.numeradoDoc.$invalid, 'has-success': form.numeradoDoc.$valid}">
                                    <!--label for="numeradoDoc" class="control-label">Numerado Documento<span class="text-danger">*</span></label-->
                                    <input type="text" name="numeradoDoc" id="numeradoDoc" class="form-control" ng-model="registro.numeradoDoc" required is-words autofocus />
                                </div>
                                <div class="error-message" ng-messages="form.numeradoDoc.$error" ng-show="form.numeradoDoc.$dirty" ng-include="'html/messages.html'"></div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{'has-error': form.remitente.$invalid, 'has-success': form.remitente.$valid}">
                                <label for="remitente" class="control-label">Remitente<span class="text-danger">*</span></label>
                                <input type="text" name="remitente" id="remitente" class="form-control" ng-model="registro.remitente" required is-words />
                            </div>
                            <div ng-messages="form.remitente.$error" ng-show="form.remitente.$dirty" ng-include="'html/messages.html'"></div>
                            <div class="form-group has-feedback" ng-class="{'has-error': form.asunto.$invalid, 'has-success': form.asunto.$valid}">
                                <label for="asunto" class="control-label">Asunto<span class="text-danger">*</span></label>
                                <input type="text" name="asunto" id="asunto" class="form-control" ng-model="registro.asunto" required is-words />
                            </div>
                            <div ng-messages="form.asunto.$error" ng-show="form.asunto.$dirty" ng-include="'html/messages.html'"></div>
                            <div class="form-group has-feedback" ng-class="{'has-error': form.folios.$invalid, 'has-success': form.folios.$valid}">
                                <label for="folios" class="control-label">Folios<span class="text-danger">*</span></label>
                                <textarea type="text" name="folios" id="folios" class="form-control" ng-model="registro.folios" required is-words ></textarea>
                            </div>
                            <div ng-messages="form.folios.$error" ng-show="form.folios.$dirty" ng-include="'html/messages.html'"></div>


                            <!--div class="form-group has-success">
                                <label for="tipo" class="control-label">Tipo<span class="text-danger">*</span></label>
                                <select class="form-control" name="tipo" id="tipo" ng-model="registro.tipo">
                                    <option value="nacional">Nacional</option>
                                    <option value="extranjero">Extranjero</option>
                                </select>
                            </div>

                            <div ng-if="registro.tipo == 'nacional'">
                                <div class="form-group has-feedback" ng-class="{'has-error': form.dni.$invalid, 'has-success': form.dni.$valid}">
                                    <label for="apellidos" class="control-label">DNI<span class="text-danger">*</span></label>
                                    <input type="text" name="dni" id="dni" class="form-control" ng-model="registro.dni" is-dni maxlength="8" required />
                                </div>
                                <div ng-messages="form.dni.$error" ng-show="form.dni.$dirty" ng-include="'html/messages.html'"></div>

                                <div class="form-group" ng-class="{'has-error': form.region.$invalid, 'has-success': form.region.$valid}">
                                    <label for="region" class="control-label">Región<span ng-if="region_required" class="text-danger">*</span></label>
                                    <select class="form-control" name="region" id="region" ng-model="registro.region" ng-required="region_required" ng-options="region as region.nombre for region in regiones">
                                        <option value="">Seleccionar</option>
                                    </select>
                                </div>
                                <div ng-messages="form.region.$error" ng-show="form.region.$dirty" ng-include="'html/messages.html'"></div>
                            </div>

                            <div ng-if="registro.tipo == 'extranjero'">
                                <div class="form-group has-feedback" ng-class="{'has-error': form.pasaporte.$invalid, 'has-success': form.pasaporte.$valid}">
                                    <label for="apellidos" class="control-label">Pasaporte<span class="text-danger">*</span></label>
                                    <input type="text" name="pasaporte" id="pasaporte" class="form-control" ng-model="registro.pasaporte" maxlength="8" required />
                                </div>
                                <div ng-messages="form.pasaporte.$error" ng-show="form.pasaporte.$dirty" ng-include="'html/messages.html'"></div>

                                <div class="form-group" ng-class="{'has-error: form.pais.$invalid', 'has-success': form.pais.$valid}">
                                    <label for="tipo" class="control-label">País<span ng-if="pais_required" class="text-danger">*</span></label>
                                    <select class="form-control" name="pais" id="pais" ng-model="registro.pais" ng-required="pais_required" ng-options="pais as pais.nombre for pais in paises">
                                        <option value="">Seleccionar</option>
                                    </select>
                                </div>
                                <div ng-messages="form.pais.$error" ng-show="form.pais.$dirty" ng-include="'html/messages.html'"></div>
                            </div>

                            <div class="form-group has-feedback" ng-class="{'has-error': form.telefono.$invalid, 'has-success': form.telefono.$valid}">
                                <label for="telefono" class="control-label">Telefono</label>
                                <input type="text" name="telefono" id="telefono" class="form-control" ng-model="registro.telefono" />
                            </div>
                            <div ng-messages="form.telefono.$error" ng-show="form.telefono.$dirty" ng-include="'html/messages.html'"></div>

                            <div class="form-group has-feedback" ng-class="{'has-error': form.email.$invalid, 'has-success': form.email.$valid}">
                                <label for="email" class="control-label">E-mail</label>
                                <input type="email" name="email" id="email" class="form-control" ng-model="registro.email" />
                            </div>
                            <div ng-messages="form.email.$error" ng-show="form.email.$dirty" ng-include="'html/messages.html'"></div-->

                            <div>
                                <button type="button" class="btn btn-danger pull-left" ng-click="cancel()">Cancel</button>
                                <button type="submit" class="btn btn-success pull-right" ng-disabled="form.$invalid">Guardar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <show-error-messages></show-error-messages>
                        <hr/>

                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <!--div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Table</h1>
                    </div>                    
                </div-->
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover my-table">
                                <thead>
                                    <tr>
                                        <th class="td-id">N°</th>
                                        <th>Fecha</th>
                                        <th>Documento</th>
                                        <th>Remitente</th>
                                        <th>Asunto</th>
                                        <th>Folios</th>
                                        <!--th class="three-icons">&nbsp;</th-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="registro in registros | orderBy:'-id'">
                                        <td>{{registro.ID}}</td>
                                        <td>{{registro.fecha}}</td>
                                        <td>{{registro.numeradoDoc}}</td>
                                        <td>{{registro.remitente}}</td>
                                        <td>{{registro.asunto}}</td>
                                        <td>{{registro.folios}}</td>
                                        <!--td>
                                            <ul class="list-inline">
                                                <li>
                                                    <button title="Ver {{registro.nombre}}" class="btn btn-xs btn-info" ng-click="showViewModal(registro)">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button title="Editar {{registro.nombre}}" class="btn btn-xs btn-warning" ng-click="showFormModal(registro)">
                                                        <span class="fa fa-pencil"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button title="Eliminar {{registro.nombre}}" class="btn btn-xs btn-danger" ng-click="eliminar(registro);">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </td-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/vendor/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="assets/vendor/metis-menu/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/js/startmin.js"></script>

</body>

</html>
